.not-found{
    height: 100%;
    background: url(https://tse1-mm.cn.bing.net/th?id=OIP.H7fry6UZJRBj2BdbcQ6C7QHaIJ&w=212&h=215&c=7&o=5&pid=1.7) no-repeat;
    background-size: 48%;
    background-position: center;
}